# Copy to .env and adjust if needed:
# .env.template -> .env
#   cp .env.template .env

APP_CONFIG__DB__USERNAME=postgres
APP_CONFIG__DB__PASSWORD=postgres
APP_CONFIG__DB__DATABASE=hitalent
APP_CONFIG__DB__HOST=localhost
APP_CONFIG__DB__PORT=5432

APP_CONFIG__RUN__HOST=0.0.0.0
APP_CONFIG__RUN__PORT=8000

# SQLAlchemy logging (true only for local debugging)
APP_CONFIG__DB__SQLA__ECHO=false
